.nav {
    background-color: rgb(19, 20, 29);
    display: flex;
    padding: 2px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav button {
    margin-right: 50px;
    background-color: red;
}